/*! CSS Used from: http://localhost:8100/utrum_admin_template/css/main.css?version=4.4.0 */

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table-striped h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

table-striped code {
    font-family: monospace, monospace;
    font-size: 1em;
}

table-striped img {
    vertical-align: middle;
    border-style: none;
}

table-striped table {
    border-collapse: collapse;
}

table-striped th {
    text-align: inherit;
}

table-striped h5 {
    margin-bottom: 0.5rem;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #334152;
}

table-striped h5 {
    font-size: 1.25rem;
}

table-striped code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

table-striped code {
    font-size: 87.5%;
    color: #e83e8c;
    word-break: break-word;
}

table-striped .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

@media (min-width: 576px) {  
  
 
  table-striped .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  
}


table-striped .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table-striped .table th,
table-striped .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(83, 101, 140, 0.33);
    font-family: 'Rubik', sans-serif;
}

table-striped .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid rgba(83, 101, 140, 0.33);
}

table-striped .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(94, 130, 152, 0.05);
}

table-striped .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

table-striped .text-right {
    text-align: right!important;
}

table-striped .text-center {
    text-align: center!important;
}

@media print {
    *,
    *::before,
    *::after {
        text-shadow: none!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    table-striped thead {
        display: table-header-group;
    }
    table-striped tr,
    img {
        page-break-inside: avoid;
    }
    table-striped .table {
        border-collapse: collapse!important;
    }
    table-striped.table td,
    table-striped .table th {
        background-color: #fff!important;
    }
}

table-striped .table th {
    font-weight: 500;
}

table-striped .table th,
table-striped .table td {
    vertical-align: middle;
}

table-striped .table td img {
    max-width: 100%;
}

table-striped .table thead th {
    border-bottom: 1px solid #999;
}

table-striped .table thead th {
    font-size: 0.63rem;
    text-transform: uppercase;
    border-top: none;
}

@media (min-width: 1100px) {
    table-striped .table-responsive {
        overflow: visible;
    }
}

table-striped .element-box .table:last-child {
    margin-bottom: 0;
}

table-striped .form-header {
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    display: block;
}

table-striped .form-desc {
    color: #999;
    margin-bottom: 1.5rem;
    font-weight: 300;
    font-size: 0.9rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: block;
}

table-striped .element-box {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

table-striped .element-wrapper {
    padding-bottom: 3rem;
}

table-striped .element-box {
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
}

table-striped .element-box {
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
}

table-striped .status-pill {
    width: 12px;
    height: 12px;
    border-radius: 30px;
    background-color: #eee;
    display: inline-block;
    vertical-align: middle;
}

table-striped .status-pill.yellow {
    background-color: #f8bc34;
}

table-striped .status-pill.red {
    background-color: #c21a1a;
}

table-striped .status-pill.green {
    background-color: #71c21a;
}

@media (max-width: 1250px) {
    table-striped .element-box {
        padding: 1rem 1.5rem;
    }
}

@media (max-width: 1024px) {
    table-striped .table th,
    table-striped .table td {
        padding: 0.7rem 0.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    table-striped .element-wrapper {
        padding-bottom: 2rem;
    }
    table-striped .element-box {
        padding: 1rem 1rem;
    }
}

@media (max-width: 767px) {
    table-striped .element-wrapper {
        padding-bottom: 1.5rem;
    }
    table-striped .element-box {
        padding: 1rem;
    }
    table-striped table {
        max-width: 100%;
    }
}


/*! CSS Used keyframes */

@-webkit-keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}


