/*! CSS Used from: https://alpha.utrum.io/testone/css/main.css?version=4.4.0 */
 *,*::before,*::after{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
coin-portfolio ul{
    margin-top:0;
    margin-bottom:1rem;
}
coin-portfolio a{
    color:#047bf8;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects;
}
coin-portfolio a:hover{
    color:#0356ad;
    text-decoration:underline;
}
coin-portfolio .btn{
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:2px solid transparent;
    padding:.375rem .75rem;
    font-size:.9rem;
    line-height:1.5;
    border-radius:4px;
    -webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
coin-portfolio .btn:hover,.btn:focus{
    text-decoration:none;
}
coin-portfolio .btn:focus{
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
coin-portfolio .btn:disabled{
    opacity:.65;
}
coin-portfolio .btn:not(:disabled):not(.disabled){
    cursor:pointer;
}
coin-portfolio .nav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none;
}
coin-portfolio .nav-link{
    display:block;
    padding:.5rem 1rem;
}
coin-portfolio .nav-link:hover,.nav-link:focus{
    text-decoration:none;
}
coin-portfolio .nav-tabs{
    border-bottom:1px solid #dee2e6;
}
coin-portfolio .nav-tabs .nav-item{
    margin-bottom:-1px;
}
coin-portfolio .nav-tabs .nav-link{
    border:1px solid transparent;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
coin-portfolio .nav-tabs .nav-link:hover,.nav-tabs .nav-link:focus{
    border-color:#e9ecef #e9ecef #dee2e6;
}
coin-portfolio .nav-tabs .nav-link.active{
    color:#495057;
    background-color:transparent;
    border-color:#dee2e6 #dee2e6 transparent;
}
coin-portfolio .badge{
    display:inline-block;
    padding:.25em .4em;
    font-size:75%;
    font-weight:500;
    line-height:1;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:4px;
}
coin-portfolio .badge:empty{
    display:none;
}
coin-portfolio .badge-success{
    color:#fff;
    background-color:#24b314;
}
coin-portfolio .badge-danger{
    color:#fff;
    background-color:#e65252;
}
coin-portfolio .d-none{
    display:none!important;
}
 @media (min-width:576px){
     coin-portfolio .d-sm-block{
        display:block!important;
    }
}
 @media (min-width:1250px){
     coin-portfolio .d-xl-block{
        display:block!important;
    }
}
 @media (min-width:1550px){
     coin-portfolio .d-xxxl-block{
        display:block!important;
    }
}
 @media print{
     *,*::before,*::after{
        text-shadow:none!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
     coin-portfolio .badge{
        border:1px solid #000;
    }
}
coin-portfolio .nav-link i{
    display:inline-block;
    color:#b0c4f3;
    font-size:26px;
    margin-bottom:5px;
}
coin-portfolio .nav-link span{
    display:block;
    font-size:.72rem;
}
coin-portfolio .nav-link.active i{
    color:#047bf8;
}
coin-portfolio .nav-tabs .nav-item{
    margin-bottom:0;
    margin-right:1rem;
}
coin-portfolio .nav-tabs .nav-link{
    border:0;
    color:rgba(0,0,0,.3);
}
coin-portfolio .nav-tabs .nav-link,.nav-tabs .nav-item .nav-link{
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    position:relative;
}
coin-portfolio .nav-tabs .nav-link:after,.nav-tabs .nav-item .nav-link:after{
    content:"";
    width:0%;
    top: 38px;
    height:3px;
    background-color:#047bf8;
    position:absolute;
    bottom:-2px;
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
}
coin-portfolio .nav-tabs .nav-link.active,.nav-tabs .nav-link:hover,.nav-tabs .nav-item:hover .nav-link{
    color:#495057;
    background-color:transparent;
    border-color:#dee2e6 #dee2e6 transparent;
    position:relative;
}
coin-portfolio .nav-tabs .nav-link.active:after,.nav-tabs .nav-link:hover:after,.nav-tabs .nav-item:hover .nav-link:after{
    width:100%;
}
coin-portfolio .btn-grey{
    color:#292b2c;
    background-color:#dde2ec;
    border-color:#dde2ec;
}
coin-portfolio .btn-grey:hover{
    color:#292b2c;
    background-color:#c4cdde;
    border-color:#bcc6da;
}
coin-portfolio .btn-grey:focus{
    -webkit-box-shadow:0 0 0 .2rem rgba(221,226,236,.5);
    box-shadow:0 0 0 .2rem rgba(221,226,236,.5);
}
coin-portfolio .btn-grey:disabled{
    color:#292b2c;
    background-color:#dde2ec;
    border-color:#dde2ec;
}
coin-portfolio .btn{
    font-family:avenir next w01,proxima nova w01,rubik,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
    font-weight:400;
    outline:0;
    line-height:1;
}
coin-portfolio .btn .os-icon{
    font-size:.9rem;
    display:inline-block;
    vertical-align:middle;
}
coin-portfolio .btn .os-icon+span{
    margin-left:10px;
    display:inline-block;
    vertical-align:middle;
}
coin-portfolio .badge{
    font-size:.81rem;
}
coin-portfolio .os-tabs-controls{
    margin-bottom:2rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
}
coin-portfolio .os-tabs-controls .nav-tabs{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-tabs{
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item{
    white-space:nowrap;
    margin-right:0;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item.nav-actions{
    margin-left:auto;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .btn{
    margin-left:10px;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .nav-link{
    color:#3e4b5b;
    opacity:.6;
    border-right:1px solid rgba(0,0,0,.05);
    border-radius:0;
    padding:8px 20px;
    margin-right:0;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .nav-link span{
    display:inline-block;
    vertical-align:middle;
    font-size:.9rem;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .nav-link span.badge{
    font-size:.72rem;
    padding:3px 5px;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .nav-link span.badge span{
    font-size:.72rem;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .nav-link.active{
    opacity:1;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .nav-link.active .tab-label{
    font-size:1.26rem;
    line-height:1.25;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .nav-link .tab-label{
    display:inline-block;
    margin-right:10px;
    text-transform:none;
    letter-spacing:normal;
    font-size:1.08rem;
    vertical-align:middle;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .nav-link .tab-value{
    display:inline-block;
    color:#047bf8;
    margin-right:10px;
    text-transform:none;
    letter-spacing:normal;
    vertical-align:middle;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .nav-link .badge{
    display:inline-block;
    vertical-align:middle;
    font-size:.72rem;
    letter-spacing:normal;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .nav-link .badge i.os-icon{
    color:#fff;
    font-size:12px;
    display:inline-block;
    vertical-align:middle;
    margin-bottom:0;
    margin-right:3px;
}
coin-portfolio .os-tabs-controls.os-tabs-complex .nav-item .nav-link .badge span{
    display:inline-block;
    vertical-align:middle;
    font-size:.72rem;
}
coin-portfolio .os-icon{
    font-family:osfont!important;
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
coin-portfolio .os-icon-arrow-down6:before{
    content:"\e992";
}
coin-portfolio .os-icon-arrow-up6:before{
    content:"\e99a";
}
coin-portfolio .os-icon-plus-circle:before{
    content:"\ea37";
}
 @media (max-width:768px){
    coin-portfolio .os-tabs-w .os-tabs-controls{
        margin-bottom:1rem;
    }
    coin-portfolio .os-tabs-w .os-tabs-complex .nav-item{
        -webkit-box-flex:1;
        -ms-flex:1;
        flex:1;
    }
    coin-portfolio .os-tabs-w .os-tabs-complex .nav-item .nav-link{
        border-right:0;
        border-top:1px solid rgba(0,0,0,.05);
        text-align:center;
        padding:15px;
    }
    coin-portfolio .os-tabs-w .os-tabs-complex .nav-item:first-child .nav-link{
        border-top:0;
    }
}

