/*! CSS Used from: https://alpha.utrum.io/testone/css/main.css?version=4.4.0 */

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


form-login h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}

form-login a {
    color: #047bf8;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

form-login a:hover {
    color: #0356ad;
    text-decoration: underline;
}

form-login img {
    vertical-align: middle;
    border-style: none;
}

form-login label {
    display: inline-block;
    margin-bottom: .5rem;
}

form-login button {
    border-radius: 0;
}

form-login button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

form-login input,
form-login button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

form-login button,
form-login input {
    overflow: visible;
}

form-login button {
    text-transform: none;
}

form-login button {
    -webkit-appearance: button;
}

form-login button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

form-login input[type=checkbox] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

form-login h4 {
    margin-bottom: .5rem;
    font-family: avenir next w01, proxima nova w01, rubik, -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #334152;
}

form-login h4 {
    font-size: 1.5rem;
}

form-login .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #dde2ec;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

form-login .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

form-login .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #047bf8;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form-login .form-control::-webkit-input-placeholder {
    color: #636c72;
    opacity: 1;
}

form-login .form-control:-ms-input-placeholder {
    color: #636c72;
    opacity: 1;
}

form-login .form-control::-ms-input-placeholder {
    color: #636c72;
    opacity: 1;
}

form-login .form-control::placeholder {
    color: #636c72;
    opacity: 1;
}

form-login .form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

form-login .form-group {
    margin-bottom: 1rem;
}

form-login .form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

form-login .form-check-label {
    margin-bottom: 0;
}

form-login .form-check-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;
}

form-login .form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0;
}

form-login .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

form-login .btn:hover,
form-login .btn:focus {
    text-decoration: none;
}

form-login .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form-login .btn:disabled {
    opacity: .65;
}

form-login .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

form-login .btn-primary {
    color: #fff;
    background-color: #047bf8;
    border-color: #047bf8;
}

form-login .btn-primary:hover {
    color: #fff;
    background-color: #0368d2;
    border-color: #0362c6;
}

form-login .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(4, 123, 248, .5);
    box-shadow: 0 0 0 .2rem rgba(4, 123, 248, .5);
}

form-login .btn-primary:disabled {
    color: #fff;
    background-color: #047bf8;
    border-color: #047bf8;
}

@media print {
    *,
    *::before,
    *::after {
        text-shadow: none!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    form-login img {
        page-break-inside: avoid;
    }
}

form-login label {
    margin-bottom: 4px;
}

form-login button,
form-login input {
    font-family: avenir next w01, proxima nova w01, rubik, -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    font-weight: 400;
}

form-login .form-control {
    font-family: avenir next w01, proxima nova w01, rubik, -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
}

form-login .form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .4);
}

form-login .form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, .4);
}

form-login .form-control::-ms-input-placeholder {
    color: rgba(0, 0, 0, .4);
}

form-login .form-control::placeholder {
    color: rgba(0, 0, 0, .4);
}

form-login .form-check-input {
    margin-right: .5rem;
}

form-login .btn {
    font-family: avenir next w01, proxima nova w01, rubik, -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    font-weight: 400;
    outline: 0;
    line-height: 1;
}

form-login .form-control {
    font-weight: 300;
}

form-login .auth-box-w {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    font-family: rubik ,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3e4b5b;
    text-align: left;
}

form-login .auth-box-w .logo-w {
    text-align: center;
    padding: 20%;
}

form-login .auth-box-w .auth-header {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    padding-left: 80px;
}

form-login .auth-box-w .auth-header:after {
    content: "";
    background-color: #047bf8;
    width: 32px;
    height: 7px;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 80px;
}

form-login .auth-box-w form {
    padding: 20px 80px;
    padding-bottom: 60px;
}

form-login .auth-box-w form .form-check-inline {
    margin-left: 1rem;
}

form-login .auth-box-w form .form-group {
    position: relative;
}

form-login .auth-box-w form .form-group .pre-icon {
    position: absolute;
    bottom: 5px;
    font-size: 24px;
    color: #047bf8;
    left: -38px;
}

form-login .auth-box-w .buttons-w {
    padding-top: 1rem;
    margin-top: .5rem;
    border-top: 1px solid rgba(0, 0, 0, .05);
}



