/*! CSS Used from: http://localhost:8100/utrum_admin_template/css/main.css?version=4.4.0 */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

search-bar input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

search-bar input {
    overflow: visible;
}

@media print {
    *,
    *::before,
    *::after {
        text-shadow: none!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
}

search-bar input {
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

search-bar .element-search {
    position: relative;
    margin: 0px 1rem;
}

search-bar .element-search:before {
    font-family: 'osfont'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    content: "\e92c";
    color: rgba(0, 0, 0, 0.4);
}

search-bar .element-search input {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 30px;
    padding: 8px 15px 8px 40px;
    display: block;
    width: 220px;
    outline: none;
    border: none;
    box-shadow: none;
    background: #eee;
}

search-bar .element-search input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

search-bar .element-search input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

search-bar .element-search input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

search-bar .element-search input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

search-bar .element-search input {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

search-bar .element-search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

search-bar .element-search input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

search-bar .element-search input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

search-bar .element-search input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

search-bar .element-search:before {
    color: rgba(255, 255, 255, 0.7);
}

