/*! CSS Used from: https://alpha.utrum.io/testone/css/main.css?version=4.4.0 */
 *,*::before,*::after{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
 dashboard-widget a{
    color:#047bf8;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects;
}
dashboard-widget a:hover{
    color:#0356ad;
    text-decoration:underline;
}
dashboard-widget .row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-10px;
    margin-left:-10px;
}
dashboard-widget .col-6,.col-sm-3,.col-xxl-2{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:10px;
    padding-left:10px;
}
dashboard-widget .col-6{
    -webkit-box-flex:0;
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
}
 @media (min-width:576px){
    dashboard-widget .col-sm-3{
        -webkit-box-flex:0;
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%;
    }
}
 @media (min-width:1450px){
    dashboard-widget .col-xxl-2{
        -webkit-box-flex:0;
        -ms-flex:0 0 16.6666666667%;
        flex:0 0 16.6666666667%;
        max-width:16.6666666667%;
    }
}
 @media (min-width:576px){
    dashboard-widget .d-sm-none{
        display:none!important;
    }
}
 @media (min-width:1450px){
    dashboard-widget .d-xxl-block{
        display:block!important;
    }
}
dashboard-widget .pt-2{
    padding-top:.5rem!important;
}
dashboard-widget .text-danger{
    color:#e65252!important;
}
 @media print{
     *,*::before,*::after{
        text-shadow:none!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
}
dashboard-widget .element-box{
    -webkit-animation-name:fadeUp;
    animation-name:fadeUp;
    -webkit-animation-duration:1s;
    animation-duration:1s;
}
dashboard-widget .element-box{
    border-radius:6px;
    background-color:#fff;
    -webkit-box-shadow:0 2px 4px rgba(126,142,177,.12);
    box-shadow:0 2px 4px rgba(126,142,177,.12);
}
dashboard-widget .element-box{
    padding:1.5rem 2rem;
    margin-bottom:1rem;
}
dashboard-widget .el-tablo{
    display:block;
}
dashboard-widget .el-tablo .label{
    display:block;
    font-size:.63rem;
    text-transform:uppercase;
    color:rgba(0,0,0,.4);
    letter-spacing:1px;
}
dashboard-widget .el-tablo .value{
    font-size:2.43rem;
    font-weight:500;
    font-family:avenir next w01,proxima nova w01,rubik,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
    letter-spacing:1px;
    line-height:1.2;
    display:inline-block;
    vertical-align:middle;
}
dashboard-widget .el-tablo .trending{
    padding:3px 10px;
    border-radius:30px;
    display:inline-block;
    font-size:.81rem;
    vertical-align:middle;
    margin-left:10px;
}
dashboard-widget .el-tablo .trending .os-icon{
    margin-left:2px;
    vertical-align:middle;
    font-size:14px;
}
dashboard-widget .el-tablo .trending span{
    display:inline-block;
    vertical-align:middle;
}
dashboard-widget .el-tablo .trending-up{
    color:#fff;
    background-color:#24b314;
}
dashboard-widget .el-tablo .trending-down{
    color:#fff;
    background-color:#e65252;
}
dashboard-widget .el-tablo.trend-in-corner{
    position:relative;
}
dashboard-widget .el-tablo.trend-in-corner .trending{
    position:absolute;
    top:10px;
    right:10px;
    padding:2px 4px;
    border-radius:4px;
    line-height:1.2;
    font-size:.63rem;
}
dashboard-widget .el-tablo.trend-in-corner .trending i{
    font-size:12px;
}
dashboard-widget .el-tablo.centered{
    text-align:center;
    padding-left:10px;
    padding-right:10px;
}
dashboard-widget .el-tablo.smaller .value{
    font-size:1.71rem;
}
dashboard-widget .el-tablo.smaller .label{
    font-size:.63rem;
    letter-spacing:2px;
}
dashboard-widget .el-tablo.smaller.trend-in-corner .trending{
    top:3px;
    right:3px;
}
dashboard-widget a.el-tablo{
    text-decoration:none;
    display:block;
    color:#3e4b5b;
    -webkit-transition:all .25s ease;
    transition:all .25s ease;
}
dashboard-widget a.el-tablo .value{
    -webkit-transition:all .25s ease;
    transition:all .25s ease;
}
dashboard-widget a.el-tablo .label{
    -webkit-transition:all .25s ease;
    transition:all .25s ease;
}
dashboard-widget a.el-tablo:hover{
    -webkit-transform:translateY(-5px) scale(1.02);
    transform:translateY(-5px) scale(1.02);
    -webkit-box-shadow:0 5px 12px rgba(126,142,177,.2);
    box-shadow:0 5px 12px rgba(126,142,177,.2);
}
dashboard-widget a.el-tablo:hover .value{
    -webkit-transform:translateY(-3px);
    transform:translateY(-3px);
    color:#047bf8;
}
dashboard-widget a.el-tablo:hover .label{
    color:#3395fc;
}
dashboard-widget a.el-tablo:hover.centered .value{
    -webkit-transform:scale(1.1) translateY(-3px);
    transform:scale(1.1) translateY(-3px);
}
dashboard-widget a.el-tablo:hover .label{
    -webkit-transform:translateY(-2px);
    transform:translateY(-2px);
}
dashboard-widget .os-icon{
    font-family:osfont!important;
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

 @media (max-width:1250px){
    dashboard-widget .element-box{
        padding:1rem 1.5rem;
    }
}
 @media (min-width:768px) and (max-width:1024px){
    dashboard-widget .element-box{
        padding:1rem;
    }
}
 @media (max-width:767px){
    dashboard-widget .el-tablo.smaller .value{
        font-size:1.26rem;
        margin-top:3px;
    }
    dashboard-widget .element-box.el-tablo{
        text-align:center;
    }
    dashboard-widget .element-box{
        padding:1rem;
    }
}
/*! CSS Used keyframes */
 @-webkit-keyframes fadeUp{
    0%{
        opacity:0;
        -webkit-transform:translateY(30px);
        transform:translateY(30px);
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
    }
}
 @keyframes fadeUp{
    0%{
        opacity:0;
        -webkit-transform:translateY(30px);
        transform:translateY(30px);
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
    }
}
